@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
    margin: auto;
    
}

header h1{
    font-family: var(--fonte02);
    font-size: 12em;
}

header p{
    font-family: var(--fonte01);
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

header a:hover{
    text-decoration: underline;
}

#wallpaper1{        
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
          
}

.paragrafo1{
    font-family: var(--fonte03);
    max-width: 2000px;
    background-color: white;
    text-align: justify;
    font-size: 2em;
    line-height: 2em;
    padding-top: 64px;        
    padding-left: 40px;
    padding-bottom: 80px; 
     
}

.paragrafo2{
    font-family: var(--fonte03);
    max-width: 400px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: justify;
    font-size: 2em;
    line-height: 2em;
    margin-top: 50px;
    margin-bottom: 50px;     
    padding-top: 80px;    
    padding-left: 40px;
      
}

#wallpaper2{
    background-image: url('../imagens/background002.jpg');
    background-color: white;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 60px;
}

.paragrafo3{
    font-family: var(--fonte03);
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
    text-align: justify;
    font-size: 2em;
    line-height: 2em;         
    padding-top: 10px;    
    padding-left: 40px;
    padding-bottom: 10px;
    
}

.paragrafo4{
    font-family: var(--fonte03);
    max-width: 2000px;
    background-color: white;
    text-align: justify;
    font-size: 2em;
    line-height: 2em;
    padding-top: 64px;        
    padding-left: 40px;
    padding-bottom: 80px;
    margin-bottom: -74px; 
}
footer{
    background-color: black; 
    font-family: var(--fonte01);
    padding: 3.5vm;   
}

footer p{
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}